<table class="table table-dark ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Stadium</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of teamTab">
        <th scope="row">{{m._id}}</th>
        <td>{{m.name}}</td>
        <td>{{m.owner}}</td>
        <td>{{m.stadium}}</td>
        <td><button type="button" class="btn btn-success" (click)="displayMatch(m._id)">Success</button>
            <button type="button" class="btn btn-info" (click)="editMatch(m._id)">Update</button>
            <button type="button" class="btn btn-danger" (click)="deleteMatch(m._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
