<app-banner title="Add Match"></app-banner>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form #addForm="ngForm" (ngSubmit)="addMatch()">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input
                  type="number"
                  class="form-control text-center" [(ngModel)]="match.scoreOne" name="scoreOne"
                  placeholder="Score One"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input
                  type="number"
                  class="form-control text-center" [(ngModel)]="match.scoreTwo" name="scoreTwo"
                  placeholder="Score Two"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control text-center" [(ngModel)]="match.teamOne" name="teamOne"
                  placeholder="Team One"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control text-center" [(ngModel)]="match.teamTwo" name="teamTwo"
                  placeholder="Team Two"
                />
              </div>
            </div>
          </div>

          <div class="form-group text-center">
            <input
              type="submit"
              class="btn btn-primary py-3 px-5"
              value="Submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
