<app-banner title="Info Team"></app-banner>
<div class="container site-section text-center">
    <div class="row">
      <div class="col-lg-12">
<div class="custom-media d-flex mb-3">
    <div class="img mr-4">
      <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid">
    </div>
    <div class="text"><br>
      <h3 class="mb-4"><a href="#">{{team.name}}</a></h3>
      <h3 class="mb-4"><a href="#">{{team.owner}}</a></h3>
      <h3 class="mb-4"><a href="#">{{team.stadium}}</a></h3>
    </div>
  </div>
  </div>
  </div>
  </div>